@import url("https://mshaugh.github.io/nerdfont-webfonts/build/firacode-nerd-font.css");

:root {
  --text: #F3E0EC;
  --link: #FF686B;
  --bg:   #241E4E;
}

html {
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 20px;

  background: var(--bg);
  color: var(--text);
}

a {
  color: var(--link); 
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

.header {
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: center;

  padding: 20px 0;
  width: 100%;

  position: fixed;
  top: 0;

  border-bottom: 2px solid var(--text);
}

.content {
  margin: 100px 0;
}

.footer {
  font-size: 0.5rem;
  text-align: center;
}
